@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/noto/NotoSansJP-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans Medium';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/noto/NotoSansJP-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

* {
  font-family: 'Noto Sans', serif;
  box-sizing: border-box !important;
}

h1 {
  font-family: 'Montserrat Bold', serif;
  margin: 0 10px;
  font-size: 40px;
}

h2 {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  font-family: 'Montserrat SemiBold', serif;
  font-size: 30px;
  margin: 50px 10px 0 10px;
  text-decoration: underline dotted #ef4828;
  text-underline-offset: 6px;
}

h2::before {
  content: "";
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-color: #ef4828;
  border-radius: 50%;
}

h3 {
  font-family: 'Noto Sans Medium', serif;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

main {
  width: 60%;
  margin: auto;
}

footer {
  font-family: 'Noto Sans', serif;
  font-size: 13px;
  margin: 0 10px;
  color: #5b5b5b;
}

@media (max-width: 1200px) {
  main {
    width: 80%;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 7vmin !important;
  }

  h2 {
    font-size: 4.8vmin !important;
    margin: 30px 10px 0 10px;
  }

  h2::before {
    width: 15px;
    height: 15px;
  }
}
